// DEFAULT STYLING
@import '../components/form';

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    font-family: $font;
    width: 100vw;
    color: #1F2937;
}

#app {
    margin: 1rem 2rem;
}

strong {
    color: #FCA5A5;
}

img {
    width: 200px;
}

h1{
    font-size: 7rem;
    font-family: $font;
    margin: 0;
}

p {
    font-family: Ubuntu;
    font-weight: 100;
    font-size: 1.75rem;
}